@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100;200&family=Roboto:wght@100&display=swap');
*{
  padding:0;
  
  box-sizing: border-box;
}
html{
  font-size:20px;
}

body{
  text-align: center;
  font-family: 'Inter';
  color: #1d1d1c;
}

h1{
  font-size: 4.65rem;
  font-family:'Bebas Neue';
  color: #8462ff;
  line-height:1;
}

#main{
  background-color: #fcf3e4;
  border-radius:10px;
  padding: 30px;
  margin:auto;
}
#title{
  margin: 25px 0 50px 0; 
}

.carousel-container{
  
  max-width:900px;
  margin:auto;
  overflow: hidden;
  border:5px solid black;
  margin-bottom: 1em;
}

.carousel-slide{
  display: flex;
  width:100%;
  height:500px;
  
}
.image{
  width:100%;
  object-fit:cover;
  z-index:1;
}
.btn-group{
  position:relative;
  left:0;
  right:0;
  top:-300px;
  max-width: 900px;
  margin:auto;
  display:flex;
  justify-content:space-between;
}
.btn{
  border-radius:10%;
  padding:10px;
  width:50px;
  
}

.headline {
  margin: 50px 0;
  text-align: center;
}

ul{
  max-width: 500px;
  text-align: left;
  margin: 0 auto 50px auto;
  line-height: 1.5;
  
}

li{
  margin: 15px 0;
}

#tribute-info{
  max-width: 1000px;
  margin: 0 auto;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #999;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #666;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: #fcf3e4;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}


.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

@media (max-width: 360px) {
  #main{
    padding: 10px;
  }
}


@media (max-width: 320px) {
  #main {
    padding: 0;
  }
  
  
  #title{
    padding-top:1rem;
  }
  h1 {
    font-size: 3rem;
    line-height: 1;
  }
  
  

}